/*  INIT APP  */
html {
    font-size: 10px;
    background-color: #b9bfff;
}

/*  */
.hide {
    display: none;
}

.show {
    display: block;
}

/*  */
#app {
    max-width: 1366px;
    margin: 0 auto;
}

.initial-main-container {
    height: 69.1em;
    background-color: #4066e0;
}

.initial-secondary-container {
    height: 21.3rem;
    background-color: #c3c8fc;
}

.initial-secondary-container,
.initial-main-container {
    margin: 4rem auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.plus,
.secondary-plus {
    color: black;
    font-size: 4.4rem;
    font-weight: bold;
}

.secondary-plus {
    color: white;
}

/* POPUP */
.popup-container {
    position: absolute;
    z-index: 999;
    top: 50vh;
    left: 50vw;
    width: 25rem;
    height: 25rem;
    transform: translate(-50%, -50%);
    background-color: white;

    padding: 1rem 2rem;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-close {
    cursor: pointer;
}
