/*  INIT APP  */
html {
    font-size: 10px;
    background-color: #b9bfff;
}

/*  */
.hide {
    display: none;
}

.show {
    display: block;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

/*  */
#app {
    max-width: 1366px;
    margin: 0 auto;
}

/* .initial-main-container {
    height: 69.1em;
    background-color: #4066e0;
} */

.initial-secondary-container {
    height: 21.3rem;
    background-color: #c3c8fc;
}

.initial-secondary-container,
.initial-main-container {
    margin: 4rem auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.plus,
.secondary-plus {
    color: black;
    font-size: 4.4rem;
    font-weight: bold;
}

.secondary-plus {
    color: white;
}

/* POPUP */
.popup-container {
    position: absolute;
    z-index: 999;
    top: 50vh;
    left: 50vw;
    width: 30rem;
    /* height: 25rem; */
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 2rem;
    font-size: 1.4rem;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.popup-close {
    cursor: pointer;
}

/* container form */
.container__type__form {
    margin: 3rem 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.container__type__form__label {
    display: flex;
    align-items: center;
}

.container__type__form__input {
    margin: 0 1rem 0 0;
}

.default-btn {
    text-transform: uppercase;
    padding: 0.8rem 2.4rem;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
}

.next-btn {
    background-color: #4066e0;
}